{% extends "header.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="col">
    <div class="row">
        <h2>Ask a question or browse questions asked by others!</h2>
    </div>
    <div class="row">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            {{ form.ask(class="form-control", placeholder="Ask Question", cols="35", rows="20") }}

            {% if form.ask.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.ask.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-success") }}
        </form>
    </div>
</div>
{% else %}
<div class="col">
    <div class="row">
        <h2>Login to ask questions!</h2>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        <br><br><br>
        <h1>Questions <small class="float-right">{{ questions.count() }} questions</small></h1>
        <ul class="media-list">
            {% for question in questions %}
            <li class="media post-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ question.date }}</small>
                    </span>
                    <strong>
                        <a href="{{ url_for('questions.question', id=question.q_id) }}">
                            {{ question.content }}
                        </a>
                    </strong>
                    <p>
                        <!--Put something here later-->
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}