{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ username }}'s Questions & Answers</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h1> Questions <small class="float-right">{{ user_questions.count() }} questions</small></h1>
        <ul class="media-list">
            {% for question in user_questions %}
            <li class="media post-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ question.date }}</small>
                    </span>
                    <strong>
                        <a href="{{ url_for('questions.question', id=question.q_id) }}">
                            {{ question.content }}
                        </a>
                    </strong>
                    <p>
                        <!--Put something here later-->
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1> Answers <small class="float-right">{{ answers.count() }} answers</small></h1>
        <ul class="media-list">
            {% for answer in answers %}
            <li class="media post-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ answer.date }}</small>
                    </span>
                    {% for question in questions %}
                    {% if answer.q_id == question.q_id %}
                        <strong>
                            <a href="{{ url_for('questions.question', id=question.q_id) }}"> 
                                {{ question.content }}
                            </a>
                        </strong>
                    {% endif %}
                    {% endfor %}
                    <p>
                        {{ answer.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}